rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Fungsi bantu
    function isAdmin() {
      return request.auth != null && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == "admin";
    }

    // ============= USERS =============
    match /users/{userId} {
      allow read: if isAdmin() || (request.auth != null && request.auth.uid == userId);
      allow update: if isAdmin() || (request.auth != null && request.auth.uid == userId);
      allow create, delete: if isAdmin();
    }

    // ============= PRODUCTS =============
    match /products/{productId} {
      allow read: if true; // publik
      allow create, update, delete: if isAdmin();
    }

    // ============= ITEMS =============
    match /items/{itemId} {
      allow read: if true; // publik / ditampilkan di toko
      allow create, update, delete: if isAdmin();
    }

    // ============= TRANSACTIONS =============
    match /transactions/{transactionId} {
      allow read: if isAdmin() || (request.auth != null && resource.data.userId == request.auth.uid);
      allow create: if isAdmin() || (request.auth != null && request.resource.data.userId == request.auth.uid);
      allow update, delete: if isAdmin();
    }

    // ============= HARGA ANTAM NEW =============
    match /harga_antam_new/{docId} {
      allow read: if true;   // semua orang bisa baca
      allow create, update, delete: if isAdmin();
    }

    // ============= DAILY GOLD API =============
    match /daily_goldapi/{docId} {
      allow read: if true;   // semua orang bisa baca
      allow create, update, delete: if isAdmin();
    }

  }
}
